@{
    ViewBag.Title = "Account Blocked";
}

<!DOCTYPE html>
<html>
<head>
    <title>Account Blocked</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            justify-content: center; 
             align-items: center; 
             height: 50%;
            margin: 0;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .container img {
                width: 100px;
                margin-bottom: 20px;
            }

            .container h1 {
                font-size: 39px;
                margin-bottom: 20px;
            }

            .container p {
                font-size: 26px;
                color: #666;
            }

            .container a {
                color: #007BFF;
                text-decoration: none;
            }

                .container a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sorry, you have been blocked</h1>
        <p>If you believe this was a mistake, please contact us through our <a href="/help">help center</a></p>
        
    </div>
</body>
</html>
