@model courseManagementSystemV1.Controllers.RegistrationController.Input

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Style Example</title>
    <style>
        
        
        .btn-primary {
            width: 50%; /* عرض الزر */
            height: 50px; /* طول الزر */
            background-color: blue;
            color: white;
            
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

           
        
        /* لإضافة النجمة الحمراء بجانب حقل  */
        .required-field::after {
            content: '*';
            color: red;
            margin-left: 5px;
        }

    </style>
</head>
<body>
    <h1>Registration</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Index" method="post" enctype="multipart/form-data" onsubmit="validateForm(event)">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="userSSN" class="control-label required-field">National ID</label>
                        <input asp-for="userSSN" class="form-control" />
                        <span asp-validation-for="userSSN" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="userFirstName" class="control-label required-field">First name</label>
                        <input asp-for="userFirstName" class="form-control" />
                        <span asp-validation-for="userFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userMiddelName" class="control-label required-field"> Middle name</label>
                        <input asp-for="userMiddelName" class="form-control" />
                        <span asp-validation-for="userMiddelName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userLastName" class="control-label required-field">Last name</label>
                        <input asp-for="userLastName" class="form-control" />
                        <span asp-validation-for="userLastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="userEmail" class="control-label required-field">Email</label>
                        <input asp-for="userEmail" class="form-control" />
                        <span asp-validation-for="userEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userPhoneNumber" class="control-label required-field">Phone number</label>
                        <input asp-for="userPhoneNumber" class="form-control" />
                        <span asp-validation-for="userPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="UserBirthDay" class="control-label ">birth date</label>
                        <input asp-for="UserBirthDay" class="form-control" type="date" required />
                        <span asp-validation-for="UserBirthDay" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="userPassword" class="control-label required-field">Password</label>
                        <input asp-for="userPassword" class="form-control" type="password" id="userPassword" />
                        <span asp-validation-for="userPassword" class="text-danger"></span>
                        <br />
                        <button type="button" class="btn btn-secondary" onclick="togglePassword('userPassword', this)">show</button>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userConfPassword" class="control-label">Confirm password</label>
                        <input asp-for="userConfPassword" class="form-control" type="password" id="userConfPassword" />
                        <span asp-validation-for="userConfPassword" class="text-danger"></span>
                        <br />
                        <button type="button" class="btn btn-secondary" onclick="togglePassword('userConfPassword', this)">show</button>
                    </div>
                </div>

                <br />

                <div class="form-group row">

                    <div class="col-md-4">
                        <label asp-for="userUniversity" class="control-label required-field">University</label>
                        <select asp-for="userUniversity" class="form-control">
                            <option value="">-- Select University --</option>
                            <option value="Cairo University">Cairo University</option>
                            <option value="Alexandria University">Alexandria University</option>
                            <option value="Ain Shams University">Ain Shams University</option>
                            <option value="Assiut University">Assiut University</option>
                            <option value="Mansoura University">Mansoura University</option>
                            <option value="Zagazig University">Zagazig University</option>
                            <option value="Helwan University">Helwan University</option>
                            <option value="Minia University">Minia University</option>
                            <!-- more -->
                        </select>
                        <span asp-validation-for="userUniversity" class="text-danger"></span>
                    </div>


                    <div class="col-md-4">
                        <label asp-for="userCollege" class="control-label required-field">College</label>
                        <select asp-for="userCollege" class="form-control" id="collegeSelect">
                            <option value="">-- Select College --</option>
                            <option value="Faculty of Medicine">Faculty of Medicine</option>
                            <option value="Faculty of Engineering">Faculty of Engineering</option>
                            <option value="Faculty of Science">Faculty of Science</option>
                            <option value="Faculty of Agriculture">Faculty of Agriculture</option>
                            <option value="Faculty of Commerce">Faculty of Commerce</option>
                            <option value="Faculty of Law">Faculty of Law</option>
                            <option value="Faculty of Arts">Faculty of Arts</option>
                            <option value="Faculty of Education">Faculty of Education</option>
                            <option value="Faculty of Pharmacy">Faculty of Pharmacy</option>
                            <option value="Faculty of Dentistry">Faculty of Dentistry</option>
                            <option value="Faculty of Veterinary Medicine">Faculty of Veterinary Medicine</option>
                            <option value="Faculty of Mass Communication">Faculty of Mass Communication</option>
                            <option value="Faculty of Economics and Political Science">Faculty of Economics and Political Science</option>
                            <option value="Faculty of Computers and Information">Faculty of Computers and Information</option>
                            <option value="Faculty of Nursing">Faculty of Nursing</option>
                            <option value="Faculty of Physical Therapy">Faculty of Physical Therapy</option>
                            <option value="Faculty of Fine Arts">Faculty of Fine Arts</option>
                            <option value="Faculty of Specific Education">Faculty of Specific Education</option>
                            <option value="Faculty of Physical Education">Faculty of Physical Education</option>
                            <option value="Faculty of Al-Alsun (Languages)">Faculty of Al-Alsun (Languages)</option>
                            <option value="Faculty of Islamic and Arabic Studies">Faculty of Islamic and Arabic Studies</option>
                            <option value="Faculty of Tourism and Hotels">Faculty of Tourism and Hotels</option>
                            <option value="Faculty of Kindergarten">Faculty of Kindergarten</option>
                            <option value="Faculty of Urban Planning">Faculty of Urban Planning</option>
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="userCollege" class="text-danger"></span>
                    </div>

                    <div class="col-md-4" id="otherCollegeDiv" style="display:none;">
                        <label for="otherCollege" class="control-label">Specify Other College</label>
                        <input type="text" id="otherCollege" name="otherCollege" class="form-control" />
                    </div>

                    <div class="col-md-4">
                        <label asp-for="userDepartment" class="control-label required-field">Department</label>
                        <input asp-for="userDepartment" class="form-control" />
                        <span asp-validation-for="userDepartment" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-4">
                    <label asp-for="userEnterCollegeDateTime" class="control-label required-field">Year of University Enrolment</label>
                    <select asp-for="userEnterCollegeDateTime" class="form-control">
                        @{
                            int currentYear = DateTime.Now.Year;
                            for (int year = currentYear - 7; year <= currentYear; year++)
                            {
                                <option value="@year">@year</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="userEnterCollegeDateTime" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="userAddressGov" class="control-label required-field">Governorate</label>
                        <select asp-for="userAddressGov" class="form-control" id="governorateSelect">
                            <option value="">-- Select Governorate --</option>
                            <option value="Cairo">Cairo</option>
                            <option value="Giza">Giza</option>
                            <option value="Alexandria">Alexandria</option>
                            <option value="Dakahlia">Dakahlia</option>
                            <option value="Red Sea">Red Sea</option>
                            <option value="Beheira">Beheira</option>
                            <option value="Fayoum">Fayoum</option>
                            <option value="Gharbiya">Gharbiya</option>
                            <option value="Ismailia">Ismailia</option>
                            <option value="Menofia">Menofia</option>
                            <option value="Minya">Minya</option>
                            <option value="Qaliubiya">Qaliubiya</option>
                            <option value="New Valley">New Valley</option>
                            <option value="Suez">Suez</option>
                            <option value="Aswan">Aswan</option>
                            <option value="Assiut">Assiut</option>
                            <option value="Beni Suef">Beni Suef</option>
                            <option value="Port Said">Port Said</option>
                            <option value="Damietta">Damietta</option>
                            <option value="Sharkia">Sharkia</option>
                            <option value="South Sinai">South Sinai</option>
                            <option value="Kafr Al sheikh">Kafr Al sheikh</option>
                            <option value="Matrouh">Matrouh</option>
                            <option value="Luxor">Luxor</option>
                            <option value="Qena">Qena</option>
                            <option value="North Sinai">North Sinai</option>
                            <option value="Sohag">Sohag</option>
                        </select>
                        <span asp-validation-for="userAddressGov" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userCity" class="control-label required-field">City</label>
                        <input asp-for="userCity" class="form-control" />
                        <span asp-validation-for="userCity" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="userstreet" class="control-label ">Street</label>
                        <input asp-for="userstreet" class="form-control" />
                        <span asp-validation-for="userstreet" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="img_file" class="control-label required-field">Photo</label>
                        <input asp-for="img_file" type="file" class="form-control" />
                        <span asp-validation-for="img_file" class="text-danger"></span>
                    </div>
                </div>

                <br />
                <br />
                <div class="form-group-btm">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />

    
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <style>
        .control-label {
            font-size: 18px; /* حجم الخط */
            color: black; /* لون الخط */
        }

            .form-control.is-invalid {
                border-color: red;
            }
    </style>

    
    <script>
        $(document).ready(function() {
            $('#collegeSelect').change(function() {
                if ($(this).val() == 'Other') {
                    $('#otherCollegeDiv').show();
                } else {
                    $('#otherCollegeDiv').hide();
                }
            });
        });
    </script>

    <script>
        function togglePassword(fieldId, button) {
            var field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
                button.textContent = "hide";
            } else {
                field.type = "password";
                button.textContent = "show";
            }
        }

        function validateForm(event) {
            var inputs = document.querySelectorAll('input.form-control, select.form-control');
            var valid = true;

            inputs.forEach(function (input) {
                input.classList.remove('is-invalid');
                var span = input.nextElementSibling;
                if (span && span.classList.contains('text-danger')) {
                    span.textContent = '';
                }

                if (!input.value && input.hasAttribute('required')) {
                    valid = false;
                    input.classList.add('is-invalid');
                    if (span && span.classList.contains('text-danger')) {
                        span.textContent = 'This field is required.';
                    }
                }
            });

            if (!valid) {
                event.preventDefault();
            }
        }
    </script>
}
